{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
  <title>Hey Neighbour - {{title}}</title>
  {% else %}
    <title> Hey Neighbour </title>
  {% endif %}
  {% block styles %}
    {% bootstrap_css %}
    

  {% endblock %}
  
</head>
<body>
    {% block content %}

    {% endblock %}

    {% block scripts %}
        {% bootstrap_javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
    {% endblock %}
    <script>
        $(document).ready(function(){
          $("#first").click(function(){
            $("#login").toggle();
          });
          $("#second").click(function(){
            $("#signup").toggle();
          });
        });
    </script>
</body>
</html>